body {
  margin: 0;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-color: skyblue;
  background-image: url(./assets/download-3.jpg);
  background-blend-mode: lighten;

}

header {
  background-color: skyblue;
  color: white;
  border-radius: 10px;
  padding: 1px 10px;
  margin-bottom: 10px;
}


h1, h2, h3, p {
  display: flex;
  justify-content: center;
}
h2, h3, p {
  color: white;
}

.iconImage {
  display: flex;
  justify-content: center;
}

.searchField {
  border-color: skyblue;
  border-radius: 10px;
}


form {
  display: flex;
  flex-direction: column;
}

.weatherResultsContainer {
  background-color: skyblue;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 15px;
  margin-top: 20px;
}




button {
  background-color: skyblue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 10px;
}